{% extends 'base.html.twig' %}

{% block title %}Edit Pagedegarde{% endblock %}

{% block body %}
    <h1>Edit Pagedegarde</h1>

    {{ include('pagedegarde/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('pagedegarde_index') }}">back to list</a>

    {{ include('pagedegarde/_delete_form.html.twig') }}
{% endblock %}
