<form method="post" action="{{ path('lettre_de_retrait_delete', {'id': lettre_de_retrait.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lettre_de_retrait.id) }}">
    <button class="btn">Delete</button>
</form>
